*{
    padding: 0;
    margin: 0%;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(195, 254, 254);
    margin: 0%;
    
}



.calculator {
    width: 320px;
    margin: 75px 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: black;
    color: white;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
}
    


input[type="text"] {
    width: 94%;
    padding: 8px;
    margin: 5px 0;
    font-size: 18px;
}

.row {
    display: flex;
    
    
}

.button {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: rgb(171, 80, 80);
}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 25%;
    border: 3px solid white;
    border-radius: 50px;

}
.cal{
    width:40%;
    display: flex;


}
.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: rgb(34 66 126);
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}



.footer{
    padding-top: 50px;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    color: aliceblue;

}
.background{
    background-size: cover;
    background-blend-mode: darken;
}