*{
    padding: 0;
    font-family: Arial, sans-serif;
}

.background{
    background: linear-gradient(rgb(246, 247, 248) , #4689f5);
    background-size: cover;
    background-blend-mode: darken;
}

.calculator {
    width: 320px;
    margin-top: 75px;
    margin-bottom: 10%;
    margin-left: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
    background-color: rgba(0, 0, 0, 0.744);
    color: white;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0, 0, 0, 0.589),
    inset 5px 5px 10px rgba(0, 0, 0, 0.82),
    inset 5px 5px 20px rgba(255, 255, 255, 0.365),
    inset -5px -5px 15px rgba(0,0,0,0.75);
}

input[type="text"] {
    width: 94%;
    padding: 8px;
    margin: 5px 0;
    font-size: 18px;
}

.row {
    display: flex;   
}

.button {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: rgb(171, 80, 80);
}

.but{
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 0.2s;
    background-color: white;
    color: black;
}

.but:hover{
    background-color: yellow;
}

.logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img{
    width: 25%;
    border: 3px solid rgb(32, 31, 31);
    border-radius: 50px;

}

.cal img {
    width:75%;
    display: flex;
    border-radius: 30px;
    border: 3px solid white;


}

.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}



.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(7, 8, 8);

}
